default_language_version:
  python: python3.10
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.1.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-added-large-files

- repo: https://github.com/ambv/black
  rev: 23.7.0
  hooks:
  - id: black

- repo: https://github.com/asottile/blacken-docs
  rev: v1.12.1
  hooks:
  - id: blacken-docs
    additional_dependencies: [black]

- repo: https://github.com/PyCQA/flake8.git
  rev: 6.1.0
  hooks:
  - id: flake8
    additional_dependencies:
    - flake8-print==5.0.0
    exclude: docs
    args: [ '--config=./.flake8']

- repo: https://github.com/PyCQA/isort
  rev: 5.12.0
  hooks:
  - id: isort

- repo: https://github.com/econchick/interrogate
  rev: 1.5.0
  hooks:
  - id: interrogate
    pass_filenames: false
    args: [--config=pyproject.toml]
    language_version: python3.10

- repo: https://github.com/PyCQA/bandit.git
  rev: 1.7.5
  hooks:
  - id: bandit
    args: ['-lll', '--recursive']

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.1.1
  hooks:
  - id: mypy
    args: []
    exclude: docs
    additional_dependencies: [
      # Dependencies that come with stubs
      "python-dotenv==0.19.2",
      "pytest==7.1.1",
      "fastapi==0.75.0",
      "pandas==1.3.4",
      "SQLAlchemy==1.4.37",
      "httpx==0.22.0",
      # Isolated stub dependencies
      "sqlalchemy2-stubs==0.0.2a24",
      "types-psycopg2==2.9.16",
      "types-requests==2.28.0",
      "pandas-stubs==1.4.3.220704",
    ]
